GcpDiagnosticMessage
{
  border-width: 0px;
  border-radius: 10px;
}

GcpDiagnosticMessage.warning
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@warning_bg_color),
                                  to(shade(@warning_bg_color, 0.75)));
}

GcpDiagnosticMessage.error
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@error_bg_color),
                                  to(shade(@error_bg_color, 0.75)));
}

GcpDiagnosticMessage.info
{
  background-image: -gtk-gradient(linear,
                                  left top,
                                  left bottom,
                                  from(@info_bg_color),
                                  to(shade(@info_bg_color, 0.75)));
}

@binding-set GcpViewBindings
{
  bind "<Control>Up" { "find-reference" (-1) };
  bind "<Control>Down" { "find-reference" (1) };
  bind "<Control>Home" { "find-definition" () };
}

/* vi:ex:ts=2:et */
